html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* flexbox stuff */
html, body {
	height: 100%;
}
body {
	overflow-x: hidden;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.xenerr-logo {
	width: 75%;
	max-width: 1200px;
	margin: 2% auto;
	padding: 5px;
    display: block;
}
/* fonts */
body {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    text-align: left;
    line-height: 1.6;
    font-size: 1.5rem;
    margin: 0;
}
/* navigation */
p {
	margin: 0 auto;
	width:5 0%;
}
h1 {
	font-size:8.3rem;
}
h2 {
	padding: 2.6rem 9rem;
	font-size: 140%;
	letter-spacing: 1px;
}
h3 {
	padding: 0 12rem;
}
a {
	color: black;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}
a:visited {
	color: purple;
}
/* photos */
.grid {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.month-title {
	width: auto;
	height: 85px;
	display: block;
	margin: 120px auto 10px auto;
}
.photoo img {
	width: 100%;
	display: block;
}
.photoo {
	margin: 0 auto 100px auto;
	width: 50%;
	display: block;
	position: relative;
}
.photoo::after {
	content: "";
	position: absolute;
	bottom: -36px;
	right: 0;
	display: block;
	background-size: 100% 100%;
	height: 35px;
}
.photoo.paris::after {
	background-image: url('../2019/paris.jpg');
	width: 63px;
}
.photoo.stockholm::after {
	background-image: url('../2019/stockholm.jpg');
	width: 120px;
}
.photoo.palmsprings::after {
	background-image: url('../2019/palmsprings.jpg');
	width: 135px;
}
.photoo.la::after {
	background-image: url('../2019/la.jpg');
	width: 131px;
}
.photoo.austin::after {
	background-image: url('../2019/austin.jpg');
	width: 78px;
}
.photoo.budapest::after {
	background-image: url('../2019/budapest.jpg');
	width: 117px;
}
.photoo.rouen::after {
	background-image: url('../2019/rouen.jpg');
	width: 70px;
}
.photoo.picsaintloup::after {
	background-image: url('../2019/picsaintloup.jpg');
	width: 138px;
}
.photoo.saintguilhemledesert::after {
	background-image: url('../2019/saintguilhemledesert.gif');
	width: 274px;
}
.photoo.montpellier::after {
	background-image: url('../2019/montpellier.jpg');
	width: 123px;
}
.photoo.maguelone::after {
	background-image: url('../2019/maguelone.jpg');
	width: 163px;
}
.photoo.alicante::after {
	background-image: url('../2019/alicante.gif');
	width: 113px;
}
.photoo.xabia::after {
	background-image: url('../2019/xabia.gif');
	width: 82px;
}
.photoo.guadalest::after {
	background-image: url('../2019/guadalest.gif');
	width: 138px;
}
.photoo.gotland::after {
	background-image: url('../2019/gotland.jpg');
	width: 79px;
}
.photoo.kungsleden::after {
	background-image: url('../2019/kungsleden.jpg');
	width: 131px;
}
.photoo.naples::after {
	background-image: url('../2019/naples.jpg');
	width: 78px;
}
.photoo.capri::after {
	background-image: url('../2019/capri.jpg');
	width: 80px;
	height: 30px;
}
.photoo.pompei::after {
	background-image: url('../2019/pompei.jpg');
	width: 78px;
}
.photoo.brittany::after {
	background-image: url('../2019/brittany.jpg');
	width: 91px;
}
.photoo.helsinki::after {
	background-image: url('../2019/helsinki.jpg');
	width: 97px;
}
.photoo.newport::after {
	background-image: url('../2019/newport.jpg');
	width: 108px;
}
.photoo.grandcanyon::after {
	background-image: url('../2019/grandcanyon.jpg');
	width: 168px;
}
.photoo.moscow::after {
	background-image: url('../2019/moscow.jpg');
	width: 105px;
}
.photoo.berlin::after {
	background-image: url('../2019/berlin.jpg');
	width: 90px;
}
.photoo.madrid::after {
	background-image: url('../2019/madrid.jpg');
	width: 109px;
}
.photoo.barcelona::after {
	background-image: url('../2019/barcelona.jpg');
	width: 140px;
}
.photoo.catral::after {
	background-image: url('../2019/catral.jpg');
	width: 119px;
}
.photoo.valencia::after {
	background-image: url('../2019/valencia.jpg');
	width: 134px;
}
.photoo.milan::after {
	background-image: url('../2019/milan.jpg');
	width: 90px;
}
.photoo.cinqueterre::after {
	background-image: url('../2019/cinqueterre.jpg');
	width: 178px;
}
.photoo.bologna::after {
	background-image: url('../2019/bologna.jpg');
	width: 85px;
}
.photoo.balaton::after {
	background-image: url('../2019/balaton.jpg');
	width: 124px;
}
.photoo.london::after {
	background-image: url('../2019/london.jpg');
	width: 105px;
}
.photoo.tokyo::after {
	background-image: url('../2019/tokyo.jpg');
	width: 83px;
}
.photoo.osaka::after {
	background-image: url('../2019/osaka.jpg');
	width: 95px;
}
.photoo.kyoto::after {
	background-image: url('../2019/kyoto.jpg');
	width: 75px;
}
.photoo.hakone::after {
	background-image: url('../2019/hakone.jpg');
	width: 116px;
}
.photoo.nara::after {
	background-image: url('../2019/nara.jpg');
	width: 94px;
}
.photo {
    max-width: 55vw;
    min-width: 450px;
    float: right;
    margin-top: 9vw;
    margin-right: 0;
}
.grid .photo img {
    min-width: 100%;
    height: auto !important;
    float: right;
    display: inline;
    min-width: 420px;
}
.photo.float-left {
  float: left;
  margin-left: 0;
  margin-right: auto;
  padding-right: 0 !important;
}
.grid .photo h2 {
  left: 5px;
  position: fixed;
  margin: 0;
  padding: 0;
  font-size: 28px;
  bottom: 3px;
  display: none;
  color: black;
}
.grid .photo:hover h2 {
  display: block;
}
.archive {
  float: none;
  clear: both;
  padding: 0;
  margin-right: 8px;
  text-align: right;
  position: fixed;
  bottom: 10px; 
  right: 0;
}
.archive img {
	display: block;
	width: 120px;
	height: auto;
}
.archive .active {
  padding: 0 5px;
  display: block;
}
.about .photoo {
	margin-bottom: 50px;
}
.about .photoo.about-text img {
	width: 50%;
}
@media all and (max-width: 769px) {
	li {
		font-size: 16px;
		border-bottom: 2px solid black;
		padding: 5px 0;
	}
	li a {
		font-size: 16px;
	}
	.archive {
		margin-right: 0;
		bottom: 5px;
	}
	.archive img {
		display: block;
		margin: 0;
		width: 100px;
	}
	.grid .month-title:first-child {
		margin-top: 50px;
	}
    .photoo {
        width: 80%;
        margin: 0 0 50px 0;
    }
    .xenerr-logo {
        width: 100%;
        padding: 0;
        margin: 5px auto;
    }
    .month-title {
    	width: 65%;
    	height: auto;
    }
    .photoo::after {
    	height: 25px !important;
    	bottom: -25px;
    }
    .photoo.paris::after {
		width: 45px;
	}
	.photoo.stockholm::after {
		width: 85px;
	}
	.photoo.palmsprings::after {
		width: 96px;
	}
	.photoo.la::after {
		width: 93px;
	}
	.photoo.austin::after {
		width: 55px;
	}
	.photoo.budapest::after {
		width: 83px;
	}
	.photoo.rouen::after {
		width: 50px;
	}
	.photoo.picsaintloup::after {
		width: 97px;
	}
	.photoo.saintguilhemledesert::after {
		width: 194px;
	}
	.photoo.montpellier::after {
		width: 87px;
	}
	.photoo.alicante::after {
		width: 80px;
	}
	.photoo.xabia::after {
		width: 58px;
	}
	.photoo.guadalest::after {
		width: 97px;
	}
	.photoo.gotland::after {
		width: 56px;
	}
	.photoo.kungsleden::after {
		width: 93px;
	}
	.photoo.naples::after {
		width: 55px;
	}
	.photoo.capri::after {
		width: 61px;
		height: 23px;
	}
	.photoo.pompei::after {
		width: 55px;
	}
	.photoo.brittany::after {
		width: 65px;
	}
	.photoo.maguelone::after {
		width: 116px;
	}
	.photoo.helsinki::after {
		width: 69px;
	}
	.photoo.newport::after {
		width: 77px;
	}
	.photoo.grandcanyon::after {
		width: 120px;
	}
	.photoo.moscow::after {
		width: 75px;
	}
	.photoo.berlin::after {
		width: 64px;
	}
	.photoo.madrid::after {
		width: 78px;
	}
	.photoo.barcelona::after {
		width: 100px;
	}
	.photoo.catral::after {
		width: 85px;
	}
	.photoo.valencia::after {
		width: 95px;
	}
	.photoo.milan::after {
		width: 64px;
	}
	.photoo.cinqueterre::after {
		width: 127px;
	}
	.photoo.bologna::after {
		width: 62px;
	}
	.photoo.london::after {
		width: 75px;
	}
	.photoo.tokyo::after {
		width: 59px;
	}
	.photoo.osaka::after {
		width: 68px;
	}
	.photoo.kyoto::after {
		width: 54px;
	}
	.photoo.hakone::after {
		width: 83px;
	}
	.photoo.nara::after {
		width: 67px;
	}
}